body {
    background-image: linear-gradient(skyblue, lightpink);
    color: white;
    font-family: "Happy Monkey", system-ui;
    text-align: center;
}

h1, h2, h3, h4, h5, p {
    text-shadow: 0 0 1px black;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h4 {
    background-color: lightpink;
    padding: .2em 1em;
    margin: 5px 0 5px 0;
}

h3 {
    margin: 1em auto 0;
}

h5 {
    margin: 0;
}

#profile-img {
    width: 25%;
    background-color: lightpink;
    border-radius: 50%;
}

#age {
    margin: 1.75em auto .5em;
}

#date {
    margin: 0 auto 1.75em;
}

.gift-img{
    height: 30em;
    max-width: 30em;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    border: 8px solid white;
    border-radius: 16px;
    margin: 1em auto;
    background-position: center;
}

.gift-section {
    margin-bottom: 5em;
}

#goofy-img:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDNwdjdhandhODN5YWpncjF5dWJ4MTg0OW54cGh3ajA2Mmtoc2NmbCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/VRyiBxgvy9H3y/giphy.gif");
}

#talented-img:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDNwdjdhandhODN5YWpncjF5dWJ4MTg0OW54cGh3ajA2Mmtoc2NmbCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/11TyfGbDbBv4be/giphy.gif");
}

#family-img:hover{
    background-image: url("https://media.giphy.com/media/JGNmo9nBmmy8U/giphy.gif?cid=790b7611x3pv7ajwa83yajgr1yubx1849nxphwj062khscfl&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}